<ion-view view-title="Liste des contacts">
    <ion-content>
        <div class="button-bar">
            <a class="button button-balanced" href="#/form/">Ajouter un contact</a>
            <a class="button button-positive" ng-click="sendContacts()">Envoyer par mail</a>
            <a class="button button-assertive" ng-disabled="disabledButton" ng-click="deleteAllContacts()">Supprimer
                toutes les contacts</a>
        </div>
            <div class="card" ng-repeat="item in itemsList" ng-click="gotoEdit(item.id)">
                <div class="item item-icon-left">
                    <i class="icon ion-person"></i>
                     <span class="span-in-card">{{item.nom}} {{item.prenom}}</span>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-android-call"></i>
                    <span class="span-in-card">{{item.portable}}</span>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-at"></i>
                    <span class="span-in-card">{{item.email}}</span>
                </div>
                <div class="item item-icon-left">
                    Code Postal : {{item.codePostale}}
                </div>
                <div class="item item-icon-left">Ville : {{item.ville}}</div>
                <div class="item item-icon-left">asdresse : {{item.adresse}}</div>
                <div class="item item-icon-left">Divers : {{item.divers}}</div>
                <div class="item item-icon-left">Manifest : {{item.manifest}}</div>
                <div class="item item-icon-left" ng-show="item.dateToCall"></div>
                <i class="ion ion-information-circled positive"></i>
                contacter á : {{item.dateToCall | date: "dd-MM-yyyy"}}
                {{item.timeToCall | date: "HH:mm"}}
            </div>
    </ion-content>
</ion-view>

