<ion-view view-title="Liste des contacts">
    <ion-content>
        <div class="button-bar">
            <a class="button button-balanced" href="#/form/">Ajouter un contact</a>
            <a class="button button-positive" ng-click="sendContacts()">Envoyer par mail</a>
            <a class="button button-assertive" ng-disabled="disabledButton" ng-click="deleteAllContacts()">Supprimer
                toutes les contacts</a>
        </div>
        <div class="card" ng-repeat="item in itemsList" ng-click="gotoEdit(item.id)">
            <div class="item item-divider-android">
                <p>{{item.nom}} {{item.prenom}}</p>
                <p>Portable : {{item.portable}} </p>
                <p>E-mail : {{item.email}}</br>
                <p>Code Postal : {{item.codePostale}}</p>
                <p>Ville : {{item.ville}}</p>
                <p>Adresse : {{item.adresse}}</p>
                <p>Divers ou projets: {{item.divers}}</p>
                <p>Manifest : {{item.manifest}}</p>
                <div class="item item-divider-android">
                    <i class="ion ion-information-circled positive"></i>
                    contacter le : {{item.dateToCall | date: "dd-MM-yyyy"}}
                    {{item.timeToCall | date: "HH:mm"}}
                </div>
            </div>

    </ion-content>
</ion-view>

