<ion-view view-title="Paramétrage de manofestatins">
  <ion-content>
      <div class="list text-center">
      <label class="item item-input item-floating-label">
        <span class="input-label">New manifestation</span>
        <input type="text" placeholder="New manifest" ng-model="formManifest.text" required="">
      </label>
    </div>
    <div class="text-center">
      <button class="button button-positive" ng-click="addManifest()">Ajouter new manifest</button>
    </div>
  </ion-content>
</ion-view>
