<ion-view view-title="Réglages">
  <ion-content>
    <div class="list">
      <div class="card">
        <a class="item item-icon-left padding-top card-item" href="#/emailParams">
          <i class="icon ion-email"></i>
          Paramétrage d'email
          <span class="pull-right positive">{{currentEmail}}</span>
        </a>
      </div>

      <div class="card">
        <a class="item item-icon-left padding-top card-item" href="#/manifestParams">
          <i class="icon ion-android-pin"></i>
          Manifestation
          <span class="pull-right positive-900">{{currentManifest}}</span>
        </a>
      </div>

      <div class="card">
      <a class="item item-icon-left card-item" href="#/list">
        <i class="icon ion-person-stalker"></i>
        Contacts
          <span class="badge badge-assertive">{{numberOfContacts}}</span>
      </a>
    </div>
      <div class="card">
        <a class="item item-icon-left card-item" href="#/addImages">
          <i class="icon  ion-images"></i>
          Images
        </a>
      </div>
        <!--TEST BLOCK-->
        <div class="card" style="background-color: #f92672">
            <a class="item item-icon-left card-item" ng-click="testClick()" >
                <i class="icon  ion-ionic" style="color: white"></i>
                Test button
              <span class="badge badge-assertive">0</span>
            </a>
        </div>
      <div class="card" style="background-color: #f92672">
        <input type="time" name="Time">
        <input type="date" name="Date" id="">
      </div>
        <!--<div class="button-bar">-->
            <!--<button class="button button-balanced "><i class="icon ion-trash-b mci-icon"></i></button>-->
            <!--<button class="button button-icon icon ion-trash-b assertive"></button>-->
        <!--</div>-->

        <!--END TEST BLOCK-->
    </div>
  </ion-content>
</ion-view>
