<ion-view view-title="Réglages">
  <ion-content>
    <div class="list">
      <div class="card">
        <a class="item item-icon-left padding-top card-item" href="#/emailParams">
          <i class="icon ion-email"></i>
          Paramétrage d'email
          <span class="pull-right positive">{{currentEmail}}</span>
        </a>
      </div>

      <div class="card">
        <a class="item item-icon-left padding-top card-item" href="#/manifestParams">
          <i class="icon ion-android-pin"></i>
          Paramétrage de manifestaion
          <span class="pull-right positive-900">{{currentManifest}}</span>
        </a>
      </div>

      <div class="card">
      <a class="item item-icon-left card-item" href="#/list">
        <i class="icon ion-person-stalker"></i>
        Contacts
          <span class="badge badge-assertive">{{numberOfContacts}}</span>
      </a>
    </div>
      <div class="card">
        <a class="item item-icon-left card-item" href="#/addImages">
          <i class="icon  ion-images"></i>
          Réglages image
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
