<ion-view hide-nav-bar="true" cache-view="false">
    <ion-content>
        <!--//////////////if no images//////////////////-->
        <ion-slides options="{paginationClickable:true, speed: 600, initialSlide: 0}" slider="swiper"
                    style="background-color:#262626">
            <ion-slide-page ng-show="numberOfSlides < 1" style="background-color: #ffffff">
                <div class="padding-top">
                    <div class="padding-top text-center">
                        <h2 class="padding-top">Aucune image</h2>
                        <h3>Merci de sélectionner des images</h3>
                        <button class="button button-raised button-energized-900 padding-bottom" ui-sref="addImages">
                            Sélectionner
                        </button>
                    </div>
                </div>
                <button ui-sref="reglages" class="button button-fab button-fab-bottom-right button-dark"><i
                        class="icon ion-ios-gear-outline"></i></button>
            </ion-slide-page>
            <!--//////////////if images//////////////////-->
            <ion-slide-page ng-repeat="image in images">
                <img ng-src="{{image}}" style="width: 100%; height: auto"/>
            </ion-slide-page>
            <ion-slide-page ng-show="numberOfSlides >= 1">
                <img ng-src="{{lastImg}}" alt="test" style="width: 100%; height: auto">
                <div class="transbox">
                    <div class="text-center">
                        <h2>{{currentInvitation}}</h2>
                        <button class="button button-raised button-balanced padding-bottom" ui-sref="form">Oui
                        </button>
                    </div>
                </div>
                <button ui-sref="reglages" class="button button-fab button-fab-bottom-right button-light" style="opacity: 0.5"><i
                        class="icon ion-ios-gear-outline"></i></button>
            </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>
