.body {
  background-color: #4d4d4d;

}

/*SLIDER*/

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  /*font-size: 18px;*/
  background: #000;
}

.swiper-pagination-bullet-active {
    background-color: #E65100 !important;
}

.transbox {
    background-color: #ffffff;
    padding: 20px;
    /*opacity: 0.6;*/
    position : absolute;
    max-width    : 300px;
    max-height   : 150px;
    left     : 50%;
    top      : 50%;
    margin-left : -100px; /* half of the width  */
    margin-top  : -100px; /* half of the height */
}

.transbox button {
    margin: 2em;
}

/*END SLIDER*/


/*GALLARY*/
.my-gallary {
  max-width: 200px;
  max-height: 150px;
  float: left;
  margin: 0.5em;
}

.my-gallary img {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 150px;
}

/*END GALLARY*/

/*POPUP*/

.popup-container .popup {
    width: 300px;
}

.popupConfirmAttention .popup .popup-head {
    background-color: #F44336;
}

.popupConfirmAttention .popup .popup-head .popup-title {
    color: #FFFFFF;
}

/*.end popup*/

/*icon*/

.mci-icon:before {
    font-size: 32px !important;
}

/*.end icon*/